@font-face {
  font-family: Avenir;
  src: url(../font/avenir.ttc);
}
@font-face {
  font-family: Avenir Next Condensed;
  src: url(../font/avenir-next-condensed.ttc);
}
html, body{
  height: 100%;
  font-family: "Avenir";
  background-color: #fff;
}
.nav-pills .nav-link {
    border-radius: 0;
}
/* ------------------------------------------------------------------------------
    Header & slider
-------------------------------------------------------------------------------*/
/*#slider {
    height: 650px;
}*/
#header {
    position: fixed;
    width: 100%;
    z-index: 999;
}
/*.nonindex-header {
    position: relative !important;
}*/
#header .header-content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 30px 0 22px 0;
    width: 100%;
    transition: padding 0.3s;
}
/*.nonindex-header .header-content {
    margin: 0 auto;
    max-width: 1170px;
    padding: 30px 0 22px 0;
    width: 100%;
}*/
.lrg-logo {
    display: inline-block;
    height: 62px;
    width: 150px;
    background: url(../img/logo-white.png) center/cover no-repeat;
}
.sml-logo {
    display: inline-block;
    height: 62px;
    width: 150px;
    background: url(../img/logo-black.png) center/cover no-repeat;
}
.logo img {
    height: 85px;
    width: 150px;
}
#header.fixed {
    background-color: #fff;
}
#header.fixed a {
    color: #000;
}
#header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0 13px 0;
}
#header.fixed .nav-toggle {
    top: 22px;
    color: #000;
}
.navigation.open {
    opacity: 0.9;
    visibility: visible;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.navigation {
    float: right;
    padding-top: 14px;
}
.navigation li {
    display: inline-block;
}
.navigation a {
    font-size: 20px;
    font-family: "Avenir";
    padding-left: 2rem;
    color: #fff;
    text-transform: uppercase;
}
/*.nonindex-header .navigation a {
    color: #000;
}
.nonindex-header .navigation a:hover {
    color: #000;
    text-decoration: none;
}*/
.navigation a:hover, .navigation a.active {
    color: #fff;
    text-decoration: none;
}
.nav-toggle {
    display: none;
    height: 44px;
    overflow: hidden;
    position: fixed;
    right: 5%;
    text-indent: 100%;
    top: 32px;
    white-space: nowrap;
    width: 44px;
    z-index: 99999;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-toggle:before, .nav-toggle:after {
    border-radius: 50%;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition-property: transform;
}
.nav-toggle:before {
    background-color: #e84545;
    transform: scale(1);
    transition-duration: 0.3s;
}
.nav-toggle:after {
    background-color: #e84545;
    transform: scale(0);
    transition-duration: 0s;
}
.nav-toggle span {
    background-color: #fff;
    bottom: auto;
    display: inline-block;
    height: 3px;
    left: 50%;
    position: absolute;
    right: auto;
    top: 50%;
    width: 18px;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
}
.nav-toggle span:before, .nav-toggle span:after {
    background-color: #fff;
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateZ(0);
    backface-visibility: hidden;
    transition: transform 0.3s;
}
.nav-toggle span:before {
    transform: translateY(-6px) rotate(0deg);
}
.nav-toggle span:after {
    transform: translateY(6px) rotate(0deg);
}
.nav-toggle.close-nav:before {
    transform: scale(0);
}
.nav-toggle.close-nav:after {
    transform: scale(1);
}
.nav-toggle.close-nav span {
    background-color: rgba(255, 255, 255, 0);
}
.nav-toggle.close-nav span:before, .nav-toggle.close-nav span:after {
    background-color: #fff;
}
.nav-toggle.close-nav span:before {
    transform: translateY(0) rotate(45deg);
}
.nav-toggle.close-nav span:after {
    transform: translateY(0) rotate(-45deg);
}                  

@media screen and (max-width: 1024px) {
  #header .header-content {
        width: 90%; 
    }
    #header.fixed a {
        color: #fff;
    }
  .nav-toggle {
    display: block; 
    }

    .navigation {
        position: fixed;
        background-color: #007bff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 99999;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s, visibility 0s 0.5s; 
    }
    .navigation .primary-nav {
      position: relative;
      top: 45%;
      transform: translateY(-45%); 
    }
    .navigation li {
      display: block;
      margin-bottom: 20px; 
    }
    .navigation a {
      display: block;
      font-size: 25px;
      margin: 0;
      text-align: center; 
    }
}

/*-------- Slider Carousel ---------*/
.slider-contents {
    position: absolute;
    right: 10%;
    top: 37%;
}
.slider-contents h1 {
    font-family: Avenir;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1.3;
}
.slider-contents h1 span {
    font-weight: 800;
    display: block;
}
.slider-contents p {
    font-size: 18px;
    width: 180px;
}
.slider-contents .btn {
    background-color: #fff;
    padding: 0.4rem 3.2rem;
    margin-top: 1rem;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
}
/*--------- iMac ---------*/
@media only screen and (min-width : 2200px) and (max-width : 2560px) {
    .slider-contents {
        right: 17%;
        top: 57%;
    }
    .slider-contents h1 {
        font-size: 50px;
    }
    .slider-contents p {
        font-size: 22px;
        width: 300px;
    }

}

/*-------- Large devices (desktops, less than 1200px) --------*/
@media (max-width: 1199.98px) {
    
}

/*-------- Medium devices (tablets, less than 992px) --------*/
@media (max-width: 991.98px) {

}

/*-------- Small devices (landscape phones, less than 768px) --------*/
@media (max-width: 767.98px) {

}

/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    .lrg-logo {
        height: 48px;
        width: 115px;
    }
    .sml-logo {
        height: 48px;
        width: 115px;
    }
    .carousel-item {
        height: 300px;
    }
    .carousel-item img {
        height: 100%;
    }
    .slider-contents h1 {
        font-size: 25px;
        line-height: 1.2;
    }
    .slider-contents h1 span {
        font-weight: 800;
        display: block;
    }
    .slider-contents p {
        font-size: 16px;
        font-weight: 600;
        width: 180px;
    }
    .slider-contents .btn {
        padding: 0.25rem 2rem;
        margin-top: 0;
        font-size: 20px;
    }
}

/*--------- Highlights ---------*/
#highlights {
    background-color: #fff;
    padding: 2.5rem 0 3.5rem 0;
}
.highlights-item {
    text-align: center;
}
.highlights-item img {
    width: 150px;
}
.highlights-item h5 {
    font-size: 20.7px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.125;
    text-transform: capitalize;
}
.highlights-item p {
    font-size: 15px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    font-weight: 400;
    line-height: 1.125;
    text-transform: capitalize;
}

/*--------- Categories ---------*/
#categories {
    background-color: #ececec;
    padding: 2rem 0 6.5rem 0;
}
#categories .section-title h1 {
    color: #575756;
    padding-bottom: 3rem;
}
.category-content .nav-pills {
    margin-bottom: 4rem;
}
.category-content .nav-pills .nav-item a {
    font-size: 1rem;
    font-family: "Avenir";
    color: #000;
    background-color: #fff;
    line-height: 0.974;
    width: 205px;
    margin: 0 auto;
    margin-right: 1rem;
}
.category-content .nav-pills .nav-link.active {
    background-color: #dadada;
}
#macbookpro .item:hover, #macbookair .item:hover, #imac .item:hover, #mac .item:hover {
    background-color: #202A44;
}
.item {
    height: 450px;
    background-color: #dedede;
    width: 100%;
    padding: 3rem 1rem;
}
.item img {
    width: 100%;
    transition: 0.5s;
}
.item:hover img{
    transform: scale(1.1);
    transition: 0.5s;
    opacity:1;
}
.item .caption {
    position: absolute;
    bottom: -8px;
    margin-left: 10px;
    opacity: 1;
    transition: 0.5s;
}
.item:hover .caption {
    opacity: 1;
    bottom: 10px;
}
.item .caption h2 {
    font-size: 16px;
    color: #575756;
}
.item:hover .caption h2 {
    font-size: 22px;
    color: #fff;
}
.item .caption p {
    font-size: 14px;
    color: #575756;
}
.item:hover .caption p {
    font-size: 16px;
    color: #fff;
}
.item:hover .icon--shop {
    transform: scale(1.1);
}
.icon--shop {
    transition: 0.25s;
}
.icon--shop {
    position: absolute;
    bottom: 20px;
    right: 35px;
    width: 36px;
    height: 35px;
    background: url(https://apa-intemporal.com/images/icon--shop-round.svg) center/cover no-repeat;
    display: block;
}
/*--------- iMac 27" ---------*/
@media only screen and (min-width : 2200px) and (max-width : 2560px) {
    .item {
        height: 450px;
    }
    #categories {
        padding: 2rem 0 9rem 0;
    }
    ul#pills-tab {
        margin: 0 4rem 5rem 4rem;
    }
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    .section-title h1 {
        font-size: 26px;
        margin: 2rem 0;
    }
    .category-content .nav-pills .nav-item {
        margin-bottom: 1rem;
    }
    .item {
        margin-bottom: 1rem;
    }
    .item .caption {
        bottom: 0;
    }
}

/*--------- Shop now ---------*/
#shop-now {
    background-image: url(../img/shop-now.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    margin-bottom: 3rem;
    background-color: #fff;
}
.shop-now-content {
    margin-top: 24rem;
}
.shop-now-content p {
    font-size: 35px;
    line-height: 1.3;
    font-family: Avenir;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.shop-now-content p span {
    display: block;
    font-size: 18px;
    margin-top: 1rem;
}
.shop-now-content .btn {
    display: block;
    font-size: 25px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    width: 250px;
    height: 50px;
    background-color: #fff;
    padding-top: 0.8rem;
    margin: 0 auto;
}
/*--------- iMac 27" ---------*/
@media only screen and (min-width : 2200px) and (max-width : 2560px) {
    #shop-now {
        height: 100%;
        min-height: 100%;
        margin-bottom: 6rem;
    }
    .shop-now-content {
        margin-top: 48rem;
    }
    .shop-now-content p {
        font-size: 37px;
    }
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    #shop-now {
        height: 250px;
        min-height: 250px;
    }
    .shop-now-content {
        margin-top: 2.5rem;
    }
    .shop-now-content p {
        font-size: 20px;
        text-align: left;
        width: 65%;
    }
    .shop-now-content .btn {
        font-size: 18px;
        width: 180px;
        height: 40px;
        margin: 0;
    }
}

/*------- Audio collection --------*/
#audio-collection {
    background-color: #1d1d1b;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
}
.hovereffect {
  width: 100%;
  height: 500px;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border: 1px solid #7d7d7d;
  border-radius: 3px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  width: 100%;
}

.hovereffect:hover img {
  transform: scale(1.2);
}

.hovereffect h2 {
    top: 50%;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect a.info, .hovereffect h2 {
  transform: scale(0.7);
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
  color: #fff;
  text-transform: uppercase;
}

.hovereffect:hover a.info, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: scale(1);
}
.section-title h1 {
    font-size: 35px;
    font-family: Avenir;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.675;
    text-align: center;
    margin: 6.5rem 0 2.5rem 0;
}
.section-title p {
    font-size: 18px;
    font-family: "Avenir";
    color: rgb(255, 255, 255);
    line-height: 1.313;
    text-align: center;
    margin-bottom: 4.5rem;
    padding: 0 3.5rem;
}
/*--------- iMac ---------*/
@media only screen and (min-width : 2200px) and (max-width : 2560px) {
    .section-title h1 {
        font-size: 40px;
        margin: 7.5rem 0 3.5rem 0;
    }
    .hovereffect {
        height: 100%;
    }
    #audio-collection {
        padding-bottom: 9rem;
        margin-bottom: 8rem;
    }
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    .section-title h1 {
        font-size: 30px;
        margin: 4.5rem 0 2.5rem 0;
    }
    .section-title p {
        font-size: 16px;
        margin-bottom: 4rem;
        padding: 0 2rem;
    }
    .hovereffect {
        width: 100%;
        height: auto;
        border: 1px solid #7d7d7d;
        border-radius: 3px;
        margin-bottom: 1rem;
    }
}

/*---------- About home -----------*/
#about-home {
    background-image: url(../img/about-home.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-color: #fff;
    padding: 130px 0px 100px;
}
.about-home-content {
    width: 65%;
    float: right;
    margin-top: 6rem;
}
.about-home-content h1 {
    font-size: 27px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.333;
}
.about-home-content p {
    font-size: 18px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.762;
    text-align: left;
}
.about-home-content .btn {
    display: block;
    font-size: 20px;
    font-family: Avenir;
    color: #343a40;
    text-transform: uppercase;
    line-height: 1.2;
    width: 240px;
    height: 50px;
    border: 2px solid #343a40;
    border-radius: 0.20rem;
    padding-top: 0.8rem;
    margin: 0 auto;
}
.about-home-content .btn:hover {
    color: #fff;
    background-color: #343a40;
}
/*--------- iMac ---------*/
@media only screen and (min-width : 2200px) and (max-width : 2560px) {
    .about-home-content {
        width: 89%;
        margin-top: 29rem;
        margin-right: -32%;
    }
    .about-home-content h1 {
        font-size: 37px;
    }
    .about-home-content p {
        font-size: 20px;
        margin-top: 2rem;
    }
    .about-home-content .btn {
        font-size: 22px;
        width: 300px;
        height: 55px;
        margin-top: 2rem;
    }
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    #about-home {
        height: 300px;
    }
    .about-home-content {
        width: 50%;
        float: right;
        margin-top: 5rem;
    }
    .about-home-content h1 {
        font-size: 20px;
        margin-bottom: 1rem;
    }
    .about-home-content p {
        display: none;
    }
    .about-home-content .btn {
        font-size: 18px;
        width: 180px;
        margin: 0;
    }
}

/*------- Suggestions --------*/
#suggestions {
    padding: 2.5rem 0;
    margin-bottom: 7rem;
    background-color: #fff;
}
#suggestions .section-title h1 {
    font-size: 40px;
    font-family: "Avenir";
    color: rgb(87, 87, 86);
    line-height: 0.675;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7rem;
}
.carousel-multi-item .controls-top a img {
    width: 13px;
}
.carousel-multi-item .controls-top a[data-slide="next"] {
    position: absolute;
    right: -60px;
    top: 40px;
}
.carousel-multi-item .controls-top a[data-slide="prev"] {
    position: absolute;
    left: -60px;
    top: 40px;
}
.carousel-multi-item .carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    background-color: transparent;
    border: 1px solid #1d1d1b;
    border-radius: 50%;
}
.carousel-multi-item .carousel-indicators {
    top: 300px;
}
.carousel-multi-item .carousel-indicators li.active {
    background-color: #1d1d1b;
}
.carousel-item .card {
    border: 0;
}
.carousel-item .card .card-text {
    color: #1d1d1b;
    text-align: center;
    padding-top: 3rem;
}
.carousel-item .card .card-body span {
    color: #666565;
    display: block;
    text-align: center;
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    #suggestions {
        padding: 0;
    }
    #suggestions .section-title h1 {
        font-size: 30px;
    }
    .carousel-multi-item .carousel-indicators {
        top: 300px;
    }
    #multi-item-example .controls-top {
        display: none;
    }
    .carousel-item .card .card-text {
        padding-top: 1rem;
    }
    .carousel-item .card .card-text {
        padding-top: 1.5rem;
    }
}

/*------- Subscription -------*/
#subscription {
    margin-top: 3rem;
}
.subscribe-box {
    text-align: center;
}
.subscribe-box p {
    font-size: 23px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.762;
}
.subscribe-input {
    font-size: 18px;
    color: #fff;
    border: 1px solid #1d1d1b;
    background-color: transparent;
    display: inline-block;
    width: 70.5%;
    border-radius: 0;
}
.subscribe-btn {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    text-align: center;
    background-color: #1d1d1b;
    border: none;
    border-radius: 0;
    padding: 5.5px 40px;
    margin-bottom: 5px;
    margin-left: -5px;
    margin-top: 1px;
    text-transform: uppercase;
}
.subscribe-btn:hover {
    color: #fff;
}

@media only screen and (max-width: 768px) {  
    .subscribe-input {
        width: 70.5%;
    }
}
.social-links {
    margin-top: 3rem;
    text-align: center;
}
.social-links ul {
    list-style-type: none;
    padding-left: 0;
}
.social-links ul li {
    display: inline-block;
}
.social-links ul li a {
    color: #000;
    padding: 0.3rem;
    font-size: 2rem;
}
/*-------- Extra small devices (portrait phones, less than 576px) --------*/
@media (max-width: 575.98px) {
    #subscription {
        margin-top: 4rem;
    }
    .subscribe-input {
        width: 90%;
        margin-bottom: 1.3rem;
    }
}

/*--------- Footer ---------*/
#footer {
    color: #fff;
    background-color: #3c3c3b;
    padding: 2rem 0;
    margin-top: 2rem;
}
.footer-contents ul {
    list-style-type: none;
}
.footer-contents h5 {
    padding-left: 40px;
    padding-bottom: 0.4rem;
    font-weight: 600;
}
.footer-contents ul li {
    padding-bottom: 0.5rem;
}
.footer-contents ul li a {
    color: #fff;
}
.copyright {
    color: #fff;
    padding-top: 2rem;
    font-size: 1rem;
}
.payment-way {
    padding-top: 1.8rem;
    width: 100%;
}
#footer-bottom {
    background-color: #1d1d1b;
    padding-bottom: 0.5rem;
}
@media (max-width: 575.98px) {
    .payment-way {
        padding-top: 1rem;
    }
}

/*----------- Support -----------*/
#banner-support {
    background-image: url(../img/support-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 2rem;
}
/*--------- iMac ---------*/
@media only screen and (min-width : 4095px) and (max-width : 5120px) {
    #banner-support {
        height: 450px;
    }
}
.page-title h1 {
    font-size: 30px;
    font-family: Avenir;
    color: #575756;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 0.675;
    text-align: center;
    margin: 4.5rem 0 6rem 0;
    float: left;
}
.support-page .nav-link {
    color: rgb(29, 29, 27);
    font-size: 16px;
    line-height: 1;
}
.support-page .nav-link.active {
    color: rgb(29, 29, 27);
    background-color: #dadada;
}
.contact-info a {
    color: #212529;
}
#contact h3 {
    font-size: 21px;
}
#contact p {
    padding-bottom: 1rem;
    padding-right: 17rem;
}
.email-form h5, .contact-info h5 {
    padding-bottom: 1rem;
}
.email-form .btn {
    font-size: 1.3rem;
    color: #fff;
    background-color: #6c757d;
    border-radius: 0;
    padding: 0.3rem 3rem;
    margin-bottom: 3rem;
}
#faq {
    margin-bottom: 5rem;
}
div#contact {
    margin-bottom: 3rem;
}
.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0 0 0;
  color: rgb(29, 29, 27);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}
.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #03b5d2;
  padding-bottom: 1rem;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 130em;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 200ms linear, max-height 200ms linear;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  padding-top: 1.5rem;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1em 0;
}

/*-------- Policy --------*/
.policy-page .nav-link {
    color: #000;
    text-transform: capitalize;
}
.policy-page .nav-link.active {
    font-size: 17px;
    font-family: "Avenir";
    color: rgb(29, 29, 27);
    background-color: #dadada;
}

/*--------- Sign In ---------*/
#banner-contact {
    background-image: url(../img/contact-banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    margin-bottom: 2rem;
}
.login-area, .registration-area, .ordertracking-area {
    border: 1.5px solid #ced4da;
    padding: 1.5rem 2.7rem 1.5rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 3px;
}
.ordertracking-area {
    position: relative;
    top: -20%;
}
.login-area h4, .registration-area h4, .ordertracking-area h4 {
    font-size: 25px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.313;
    text-align: left;
}
.login-area .btn, .registration-area .btn, .ordertracking-area .btn {
    color: #fff;
    background-image: linear-gradient(180deg, #3491dc, #1374c8);
    margin-top: 1rem;
}

/*--------- iMac ---------*/
@media only screen and (min-width : 4095px) and (max-width : 5120px) {
    .page-title h1 {
        padding-left: 40rem;
        margin: 2.5rem 0 5rem 83rem;
    }
}

@media (max-width: 575.98px) {
    .ordertracking-area {
        position: relative;
        top: 0;
    }
}

/*--------- Cart Page ---------*/
#cart-details {
    margin-bottom: 7rem;
}
.device-name {
    display: block;
    font-size: 15px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.6;
    text-align: left;
    }
.product-brief {
    display: inline-block;
}
.cart-items .table thead {
    border: 2px solid #dfdfdf;
    border-right: 0;
    border-left: 0;
}
.table-header th {
    font-size: 20px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.313;
    text-align: left;
    padding-left: 1rem;
    text-transform: uppercase;
}
th input[type=number] {
    width: 60px;
}
.cart-total {
    padding: 1.5rem 1.6rem 2rem 1.5rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.cart-total h6 {
    font-size: 25px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.313;
    padding-bottom: 1rem;
    text-transform: capitalize;
}
.cart-total p {
    display: inline-block;
    width: 150px;
}
.cart-total .shipping-charge {
    margin-bottom: 0;
}
.cart-total .shipping-calculator {
    text-transform: capitalize;
    color: #212529;
    margin-left: 155px;
}
.cart-total .button-grp {
    margin-top: 1rem;
    margin-bottom: 1.7rem;
}
.cart-total .button-grp .btn {
    display: inline-block;
    font-size: 13px;
}
.cart-total .button-grp .cart-update-btn {
    background-image: linear-gradient(180deg, #a3a3a2, #828281);
    color: #fff;
    text-transform: uppercase;
}
.cart-total .button-grp .checkout-btn {
    background-image: linear-gradient(180deg, #3491dc, #1374c8);
    color: #fff;
    text-transform: uppercase;
}
.fa-trash-alt {
    color: #000;
}
/*--------- iMac ---------*/
@media only screen and (min-width : 4095px) and (max-width : 5120px) {
    .table-header th {
        font-size: 25px;
        font-family: Avenir;
        color: rgb(29, 29, 27);
        line-height: 1.313;
        text-align: left;
        text-transform: uppercase;
    }
}

@media (max-width: 575.98px) {
    
}

/*----------- Checkout -----------*/
.coupon-code {
    background-color: #e5e5e5;
    padding: 1rem 1rem 1rem 2rem;
    margin-bottom: 1.7rem;
}
.coupon-code p {
    margin-bottom: 0;
}
.returning-customer .login-btn {
    background-image: linear-gradient(180deg, #3491dc, #1374c8);
    color: #fff;
    text-transform: uppercase;
    padding: 0.4rem 1.5rem;
}
.returning-customer h4 {
    padding-bottom: 2.5rem;
}
.billing-details h4, .returning-customer h4 {
    font-size: 25px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.313;
    text-align: left;
    text-transform: capitalize;
}
.billing-details h4 {
    padding: 3rem 0 1.5rem 0;
}
.billing-details .address-btn {
    background-image: linear-gradient(180deg, #a3a3a2, #828281);
    color: #fff;
    text-transform: uppercase;
    padding: 0.4rem 1.5rem;
}
.order-summary {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding-bottom: 3rem;
}
.order-summary h5 {
    font-size: 25px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.313;
    text-align: center;
    padding: 3rem 0 4rem 0;
}
.order-summary .card {
    padding: 0 2rem;
    border: 0;
    border-radius: 0;
    background-color: #f4f4f4;
}
.order-summary .card hr {
    margin-top: 0;
}
.order-summary .card-body {
    font-size: 15px;
    font-family: Avenir;
    color: rgb(29, 29, 27);
    line-height: 1.6;
    padding-top: 0;
}
.order-summary .card-body span {
    line-height: 3;
    font-size: 17px;
    font-weight: 600;
}
.order-summary hr {
    width: 92%;
}
.total-payment {
    color: rgb(29, 29, 27);
    font-size: 20px;
    padding-top: 1.2rem;
    padding-left: 5rem;
    padding-bottom: 5rem;
}
.total-payment p {
    display: inline-block;
    width: 180px;
}
.payment-icon1 {
    padding-left: 3rem;
    margin-bottom: 2rem;
}
.payment-icon2 {
    padding-left: 3rem;
    margin-right: 1rem;
}
.payment-icon2, .payment-icon3 {
    display: inline-block;
    margin-bottom: 2.5rem;
}
.payment-icon1 input, .payment-icon2 input, .payment-icon3 input {
    margin-right: 0.7rem;
}
.payment-icon1 img, .payment-icon2 img, .payment-icon3 img {
    width: 55px;
}
.specification {
    padding-left: 2rem;
    padding-bottom: 3rem;
}
.payment-confirm-btn {
    display: block;
    background-image: linear-gradient(180deg, #3491dc, #1374c8);
    color: #fff;
    text-transform: uppercase;
    width: 90%;
    margin: 0 auto;
}
.payment-confirm-btn:hover {
    color: #fff;
}
.specification .form-check {
    margin-top: 1.2rem;
}
.specification .form-check .form-check-input {
    margin-top: 0.38rem;
}

/*---------- Shop ----------*/
.refineby a {
    float: right;
    font-size: 12px;
}
.refineby a img {
    width: 11px;
}
.year-filter button {
    border: 1px solid #ccc;
    border-radius: 0;
    color: #000;
    font-size: 14px;
    background-color: transparent;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    margin-bottom: 0.3rem;
}
.year-filter button:hover {
    background-color: #000;
    color: #fff;
}
#slider-container {
  max-width: 100%;
  width: 250px;
  margin-left: 0px;
}
.price-filter ul {
  list-style: none;
  padding-left: 0;
}
.filter-project {
  max-width: 600px;
  background-color: #f2f2f2;
  padding: 20px;
}
.amount-box {
  width: 100%;
  max-width: 400px;
}
.amount-box input[type=text], .amount-box input[type=tel] {
  display: block;
  border: 1px solid #ccc;
  padding: 4px 9px;
  width: 100%;
  font-size: 12px;
  color: #272727;
  -webkit-appearance: none;
  border-radius: 0;
}
.stock-filter h5, .condition-filter h5, .category-filter h5, .size-filter h5, 
.year-filter h5, .price-filter h5, .processor-filter h5, .harddrive-filter h5, 
.harddrive-filter h5, .graphicscard-filter h5, .color-filter h5 {
    font-size: 16px;
    line-height: 1.3;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0.8rem;
}
.form-check label {
    font-size: 14px;
}
.ui-widget-content {
    border: 0;
    background: rgb(234, 222, 222);
}
.ui-widget-header {
    border: 0;
    background: #000;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.4em;
    width: 14px;
    height: 14px;
    margin-top: 4px;
    border-radius: 50%;
}
.ui-state-default, .ui-widget-content .ui-state-default {
    border: 2px solid #000;
    background: #fff; 
    outline: none;
}
.ui-slider-horizontal {
    height: .4em;
}
.product-item {
  position: relative;
  margin-bottom: 0.5rem;
}
.product-item .image {
    display: block;
    width: 100%;
    height: auto;
    background-color: #dedede;
    padding: 1rem;
}
.product-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
.product-item:hover .overlay {
  width: 100%;
}
.product-item .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-item .text .btn {
    font-size: 13px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 32px;
}
.product-item .text .btn:hover {
    color: #000;
    background-color: #fff;
}
.product-name, .product-price {
    display: block;
    font-size: 13px;
    color: #000;
    text-align: center;
    margin-top: 0.5rem;
}
.product-name {
    margin-top: 2rem;
}
.product-name:hover {
    text-decoration: none;
}
.product-filtering {
    width: 215px;
    padding: 0.1rem;
    margin: 2.5rem 0 4rem 0;
    float: right;
    border-radius: 0;
    font-size: 16px;
}
.product-filtering option {
    font-size: 16px;
}
.device-specification {
    display: grid;
    grid-template-columns: auto auto;
    margin: 1.7rem 0 2rem 0;
    font-size: 14px;
}
.device-specification div {
    width: 205px;
    margin-bottom: 1rem;
}
.device-specification div b {
    float: right;
}

/*--------- Product Detail ----------*/
.product-detail-right h2 {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    color: #101010;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
}
.product-detail-right h5 {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 2;
    margin-bottom: 0;
}
.product-detail-right .description {
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1;
    margin-bottom: 1.5rem;
}
.price-box {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1030;
    border: 1px solid #dcdcdc;
    background: #f8f8f8;
    color: rgba(0,0,0,.85);
    font-weight: bolder;
    font-size: 40px;
    padding: 2.5rem 0 1rem 0;
}

/*product carousel*/
.product-slider { 
    padding: 45px; 
}
.product-slider #thumbcarousel { 
    margin: 12px 0 0; 
    padding: 0 45px; 
}
.product-slider #thumbcarousel .carousel-item { 
    text-align: center; 
}
.product-slider #thumbcarousel .carousel-item .thumb { 
    border: 4px solid #cecece; 
    width: 20%; 
    margin: 0 2%; 
    display: inline-block; 
    vertical-align: middle; 
    cursor: pointer; 
    max-width: 98px; 
}
.product-slider #thumbcarousel .carousel-item .thumb:hover { 
    border-color: #1089c0; 
}
.product-slider .carousel-item img { 
    width: 100%; 
    height: auto; 
}
.carousel-control { 
    color: #0284b8; 
    text-align: center; 
    text-shadow: none; 
    font-size: 30px; 
    width: 30px; 
    height: 30px; 
    line-height: 20px; 
    top: 23%; 
}
.carousel-control:hover, .carousel-control:focus, .carousel-control:active { 
    color: #333; 
}
.carousel-caption, .carousel-control .fa { 
    font: normal normal normal 30px/26px FontAwesome; 
}
.carousel-control { 
    background-color: rgba(0, 0, 0, 0); 
    bottom: auto; 
    font-size: 20px; 
    position: absolute; 
    top: 30%; 
    width: auto; 
}
.carousel-control.right, .carousel-control.left { 
    background-color: rgba(0, 0, 0, 0); 
    background-image: none; 
}
.carousel-control.right {
    right: 0;
}
.carousel-control.left {
    left: 0;
}

.inside-box {
    text-align: center;
    padding-bottom: 5rem;
}
.inside-box h1 {
    font-weight: bold;
    color: #000;
    font-size: 50px;
    padding: 2.5rem 0 3.5rem 0;
}